<!DOCTYPE html>
<html>
  <head>
    <title >about me </title>
  </head>
  <body>
    <h1>{{pageTitle}}</h1>
    {{>header}}

    <!-- Name of hbs in partials folder -->
    {{>footer}}
  </body>
</html>
